html, body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-weight: 400;
    padding: 0;
    color: #505050;
}

.container{
    width:100%;
    height:100%;
}

h1, h2{
}

h1{
    color: #2CBCA6;
    font-weight: 700;
}

h2{
    font-family: 'IBM Plex Serif', serif;
    letter-spacing:.5px;
    word-spacing: 1px;
    font-style: italic;
    color: #666;
}


.home-text{
    position: absolute;
    width: 25%;
    margin: 0px 0px 5% 5%;
    bottom: 0;
}

.home-text h1, .home-text h2{
    margin: 0;
}


.home-text h1{
    font-size: 5em;
}

.home-text h2{
    font-size: 1.5em;
}

.home-img{
    position: absolute;
    right: 0;
    width: 65%;
    height:100%;
    overflow: hidden;
    background: url(img/typing.gif);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    filter: grayscale(100%);
}

.about-text{
    position: absolute;
    width: 40%;
    margin: 15% 0 0 5%;
}

.about-text h1{
    font-size: 1.5em;
}

.about-text p{
    font-weight: 500;
    font-size: 1em;
}

.about-img-container-1 {
    position:absolute;
    width:18%;
    right: 28%;
    height: 30%;
    margin-top: 3%;
}

.about-img-container-2 {
    position:absolute;
    width:18%;
    height: 30%;
    right: 5%;
    margin-top: 7%;
}

.about-img{
    margin-top: 5%;
    width: 100%;
    height: 100%;
    border-bottom: 40px solid #2cbca6;
    box-shadow: 10px 10px 10px rgba(0,0,0,.15);
    display: inline-block;
}

.about-img-1{
    background: url(img/northwestern.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.about-img-2{
    background: url(img/team.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.about-img-3{
    background: url(img/deering.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.about-img-4{
    background: url(img/techshift.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.members-text{
    position: absolute;
    width: 30%;
    margin: 5% 0 0 35%;
}

.members-img{
    margin-top: 5%;
    width: 18%;
    height: 80%;
    box-shadow: 10px 10px 10px rgba(0,0,0,.15);
    position:absolute;
}

.members-img-1{
    left: 10%;
    background: url(/img/teamwork.jpg);
    background-size:cover;
    background-position: center center;
}

.members-img-2{
    right: 10%;
    background: url(/img/chicago.jpg);
    background-size:cover;
    background-position: 45% center;
}


.contact-text{
    position: absolute;
    width: 30%;
    right: 5%;
    margin-top: 5%;
}

.contact-img{
    width: 48%;
    height: 80%;
    box-shadow: 10px 10px 10px rgba(0,0,0,.15);
    position:absolute;
    margin-top: 5%;
    left: 10%;
    background: url(/img/coffee.jpg);
    background-size:cover;
    background-position: right center;
}

.menu{
    margin: 5% 0% 0% 5%;
    position: fixed;
    z-index: 9;
    background: #fff;
    padding: 30px;
    box-shadow: 4px 4px 10px rgba(0,0,0,.15);
}

.line{
    width: 40px;
    height: 4px;
    margin-bottom: 9px;
    background: #000;
    border-radius: 1px;
}

@media screen and (max-width: 600px) {
    .mobile-no-show{
        display: none;
    }
}